<%= form_for(@part_db) do |f| %>
  <% if @part_db.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part_db.errors.count, "error") %> prohibited this part_db from being saved:</h2>

      <ul>
      <% @part_db.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :store_location %><br />
    <%= f.text_field :store_location %>
  </div>
  <div class="field">
    <%= f.label :store_name %><br />
    <%= f.text_field :store_name %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :part %><br />
    <%= f.text_field :part %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
