<table>
	<tr>
		<td width="300">
		</td>
		<td align="left">
<p class="result">
 The ability to determine the nature and extent of information needed <%= @define%>/130
</p>

<p class="result">
  The ability to access information effectively and efficiently <%= @access %>/520
</p>

<p class="result">
 The ability to evaluate information critically <%= @evaluate%>/200
</p>


<p class="result"> The ability to use information to accomplish a specific purpose <%= @use%>/ 130
</p>

<p class="result">
	Your Overall score <%= @total%>/900
</p>

		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td align="right">
			<%= link_to 'Log Out', logout_path, :style => 'float:center',  :class=>"nextbutton" %>
		</td>
	</tr>
</table>